@import url(utilities.css);

:root{
    --primary: #3dcfd3;
    --dark: #161616;
    --pure: #ffffff;
    --ternary: #898989;
    --light: #e0e0e0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}
body{
    font-family: 'poppins' , sans-serif;
}
header{
    background: var(--dark);
    
}
.container{
    max-width: 95%;
    padding: 0 5%;
    margin: 0 auto;
}
header nav .left a{
    color: var(--pure);
    text-decoration: none;
    padding: 1.5rem;
    text-transform: uppercase;
}
header nav  .left a:hover{
    color: var(--ternary);
    transition: all .3s ease-in-out;
}
header nav{
    padding: 2rem 0;
}
header nav .branding{
    margin-right: 3rem;
}
.hero .left img{
    height: 540px;
    padding-right: 2rem;
}
h5{
    color: var(--primary);
}
h1{
    color: var(--ternary);
}
span{
    color: var(--primary);
}
p{
    color: var(--pure);
}
.hero .right .bttn-2{
    margin: 1rem 0;
}
.hero .logo a img{
    padding: 1rem 0 0 3rem;    
}